html{
  font-size: 12px;
}
html,body{
  height: 100%;
  background-color: white;
}
ul{
  list-style: none;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items:center;
}
a:hover{
  text-decoration: none;
}
